<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation Application</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
  
</head>
<body>

  <nav>
    <ul>
      <li><a href="{{ url_for('index')}}">Home</a></li>
      <li><a href="{{ url_for('admin_login')}}">Admin</a></li>
      <li><a href="{{ url_for('reservations')}}">Reservations</a></li>
    </ul>
  </nav>

  <div class="container"> 
    <form class="app-form" action="/admin/login" method="POST"> <!-- Change the action attribute to your admin login route -->
      <h1>IT-4320 Trip Reservation System</h1>
      <hr>
      <h2>Admin Login</h2>
      <p>Welcome to the IT-4320 reservation system. Log in as an administrator.</p>

      <!-- Add admin login fields -->
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br><br>

      <input type="submit" value="Login">
    </form>
  </div>

</body>
</html>